.comparePicturesWrapper {
  user-select: none;
  width: 100%;
  /* height: 90%; */
  height: 800px;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.dropPlaceWrapper {
  /* width: 700px; */
  width: 100%;
  /* height: ; */
  /* width: 70%; */
  /* height: 100%; */
  /* padding: 20px; */
  display: flex;
  flex-direction: column;

  gap: 5px;
  box-sizing: border-box;

  /* flex-flow: row wrap; */
  /* align-content: center; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
}

.dragPlaceWrapper {
  /* width: 30%; */
  width: 100%;
  /* height: 100%; */
  /* height: 100%; */
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* justify-content: center; */
  justify-content: space-evenly;
  align-items: center;
  /* margin-bottom: 10px; */
  box-sizing: border-box;
  /* gap: 5px; */
}

.dragPlace {
  height: 40px;
  width: 180px;
  /* width: 110px; */
  /* max-width: 130px; */
  border-radius: 12px;
  font-size: 18px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  box-sizing: border-box;
}
.dragPlace:hover {
  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4;
  cursor: grab;
}

.dropPlace {
  /* width: calc(100%/2 - 20px); */
  /* width: 50%; */
  /* width: 100%; */
  /* width: calc(50% - 20px); */
  /* height: 300px; */
  /* height: 90%; */
  /* box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4; */
  border-radius: 12px;
  font-size: 18px;

  display: flex;
  /* align-items: flex-end; */
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* justify-content: flex-end; */
  box-sizing: border-box;
}

.dropPlacePart {
  display: inline-block;
  width: 180px;
  height: 40px;
  border: 1px solid blue;
  border-radius: 12px;
  box-sizing: border-box;
}

@media screen and (max-width: 1370px) {
  .comparePicturesWrapper {
    width: 100%;

    height: 800px;

    flex-direction: row-reverse;
  }

  .dropPlaceWrapper {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    /* align-self: center; */
  }

  .dragPlaceWrapper {
    width: 30%;
    /* width: 100%; */
    /* height: 100%; */
    height: 100%;
  }

  .dragPlace {
    height: 40px;
    width: 120px;
    text-align: center;

    font-size: 15px;
  }

  .dropPlace {
    font-size: 15px;

    gap: 10px;
  }

  .dropPlacePart {
    width: 120px;
    height: 40px;
  }
}
